/* GLOBAL RESETS */
* {
    box-sizing: border-box;
}

// VARIABLES
$color-text-dark: rgba(34, 34, 34, .8);
$color-text-light: rgba(247, 245, 239, .8);
$color-text-headings: rgba(0, 0, 0, 1);
$color-background: rgba(34, 34, 34, .8);
$color-link: rgb(73, 91, 131);
$color-link-darker: rgba(208, 206, 201, 1);
$color-tan-accent: rgba(234, 266, 183, 1);
$color-yellow-accent: rgba(252, 191, 73, 1);
$color-orange-accent: rgba(247, 127, 0, 1);
$color-red-accent: rgba(214, 40, 40, 1);
$color-blue-accent: rgba(0, 48, 73, 1);


$font-family-sans: 'neuzeit-grotesk', sans-serif;
$font-family-serif: 'elizeth', serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
@import "partials/helpers";
@import "partials/sitenav";
@import "partials/animations";