/* TO HIDE SOMETHING VISUALLY */

.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.centered {
    text-align: center;
    justify-content: center;
}

.fixed {
    padding: 4em 0;
    min-height: 60vh;
    display: grid;
    align-items: center;
}