/* RESET BODY */

body {
    margin: 0;
}

/* SECTION */

section {
    padding: 4em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

/* CONTAINER */

.container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1000px;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */

// SMALL

body {
    font-size: 87.5%;
}

@media (min-width: $breakpoint-small) {
    body {
        font-size: 100%;
    }
}

@media (min-width: $breakpoint-large) {
    body {
        font-size: 112.5%;
    }
}