/* SITE-HEADER SITE-NAV */

.site-header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    margin: .5em auto;
    padding: 0 2em;

    .header-container {
        border: 2px solid white;
        border-radius: 1em;
        margin: 1em auto;
        padding: 1em;
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 30%;
    }

    .site-nav {

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a {
            padding: 0 1em;
            color: white;
            text-decoration: none;
        }
    }

}

/* SITE FOOTER */

.site-footer {
    background-color: $color-blue-accent;
    padding: 1em 2em;
    width: 100%;
    display: flex;
    align-items: center;
    // margin: .5em auto;


    .footer-container {
        border: 2px solid white;
        border-radius: 1em;
        margin: 1em auto;
        padding: 1em;
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 30%;
    }

    .site-nav {

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a {
            padding: 0 1em;
            color: white;
            text-decoration: none;
        }

    }

}