/* SECTION */

section {
    padding: 4em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

#forge-intro {
    background-color: rgba(34, 34, 34, 1);

    h3,
    p {
        color: $color-text-light;
    }
}

/* HERO SECTION */

.hero {
    padding: 6em 0;
    color: white;
    background: $color-background;
    text-align: center;
    min-height: 100vh;
    display: grid;
    place-items: center;

    h1 {
        margin-bottom: .25em;
        color: white;
    }

    p {
        margin: 1em auto;
    }

}