/* HERO SECTION */

.hero {
    padding: 6em 0;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: grid;
    place-items: center;

    h1 {
        margin-bottom: .25em;
        color: white;
    }

    p {
        margin: 1em auto;
    }

    .background-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        overflow: hidden;
    }

    .hero-background {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}

/* SITE SECTIONS HOME PAGE */

#forge-intro {

    h1,
    p {
        color: $color-text-light;
    }

    .background-img {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        overflow: hidden;
    }

    .img-background {
        height: 100%;
        width: 100%;
        object-fit: cover
    }
}

#forge-feature {
    background-color: rgba(34, 34, 34, 1);
    border-radius: 0 0 75% 0;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(252, 191, 73, 1);
        z-index: -1;
    }

    .featured-text,
    p {
        margin: 0 auto;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;

        h1 {
            font-size: 8em;
            color: $color-text-light;
            margin-bottom: 0;
        }
    }

    .featured-container {
        margin: 0 auto;
        padding: 0 1em;
        max-width: 1200px;

        .featured-items {
            display: flex;
            overflow: hidden;
        }
    }
}

#forge-rewards {
    background-color: rgba(247, 245, 239, 1);
    border-radius: 75% 0 0 0;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(252, 191, 73, 1);
        z-index: -1;
    }

    .reward-title {
        font-size: 8rem;
    }

    h1,
    p {
        color: $color-text-dark;
    }
}